h1{
    color: red
}

.night{
    background:black;
    color:white;
}

#timer{
    text-align: center;
    font-size: 25px;
}

#row0, #row3, #row6{
    border-top: 4px solid black;
}

#row8{
    border-bottom: 4px solid black;
}

.grid{
    margin-left: auto;
    margin-right: auto;
}

.grid, td{
    border: 1px solid black;
}

input{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    width: 60px;
}
