h1{
    color: red
}

.night{
    background:black;
    color:white;
}

.grid{
    border: 2px solid black;
}

td{
    border: 1px solid black;
}

input{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    width: 60px;
}